<!DOCTYPE html>
<html>

<head>
		<meta charset="UTF-8" />
		<title>WEB322 Assignment Gallery</title>
		<link rel="stylesheet" href="/css/gallery.css" />
	</head>
        
        <form method="post" action="/">

			<h1>The nine titans / 九つの巨人  </h1>

			<div class="clsSelection">
        		 {{#each image_data.images_names}}
                
               <input type="radio" name="rdoImage" id="{{this}} " value="{{this}} "> 
               <label for="{{this}} ">{{this}} </label><br>
                
                
               {{/each}}
				<button type="submit" value="submit">Submit</button>
			</div>

		</form>

			<div class="clsContent">
				<img src={{ image_data.curr_image }}  alt="NO IMAGE" />
			</div>

			
        
    </body>
</html>